keycloak:
  realm: testProject
  auth-server-url: http://localhost:8080/auth
  resource: authApp
  public-client: true
  bearer-only: true
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/db
    username: root
    password: root
    hikari:
      initialization-fail-timeout: 0
  cache:
    type: redis
#  redis:
#    host: localhost
#    port: 6379
  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update

  # Enable gzip compression
  server:
    compression:
      enabled: true
      mime-types: application/json,application/xml,text/html,text/plain
